/op-cartesi
/bin/
*.test
jwt.hex
devnet/rollup.json
devnet/snapshot/
devnet/logs/
devnet/deployment/
devnet/l1-addresses.env
devnet/outputs-addresses.env
devnet/token.env
node_modules/
.env
.env.local
